<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <logo>
        <a  id="logo-container" class="navbar-brand" href="#">LetsGo</a>
    </logo>
    <links>
        <div class="navbar-nav">
           <a routerLinkActive="active" class="nav-item nav-link waves-light"  mdbRippleRadius routerLink="/dashboard" >Dashboard</a>
           <a routerLinkActive="active" class="nav-item nav-link waves-light"  mdbRippleRadius routerLink="/newPoll" >New Poll</a>
        </div>
    </links>
</mdb-navbar>