<div class="newpoll container">
    <!--Section: Contact v.3-->
    <section class="section">
       <!--Grid column-->
       <div class="col-md-12">
          <!--Form with header-->
          <div class="card form-card">
             <div class="row">
                <div class="col-lg-11">
                   <div class="card-body form">
                      <!--Header-->
                      <div class="formHeader mb-1 pt-3">
                         <h3><img src="https://ih0.redbubble.net/image.25919193.1452/flat,800x800,075,f.jpg"/> Whats in your mind ??? </h3>
                      </div>
                      <br>
                      <form #newPoll="ngForm"  (ngSubmit)="onSubmit(newPoll)">
                         <!--Grid row-->
                         <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                               <div class="md-form">
                                  <div class="md-form">
                                     <input mdbActive type="text" id="form-question" id="name"
                                     required
                                     [(ngModel)]="newPoll.question" name="question" class="form-control">
                                     <label for="form-question" class="">Your Question goes here</label>
                                  </div>
                                  {{newPoll.question}}
                               </div>
                            </div>
                            <!--Grid column-->
                         </div>
                         <!--Grid row-->
                          <!--Grid row-->
                          <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                               <div class="md-form">
                                  <div class="md-form">
                                                                        
                                    <!--Dropdown primary-->
                                    <label id="form-type" ></label>
                                    <select for="form-type" class="" 
                                    name="type" required
                                    [(ngModel)]="newPoll.type">
                                        <option selected="selected"> Hangout Type</option>
                                        <option>Restaurant</option>
                                        <option>Party</option>
                                        <option>Places</option>
                                        <option>Activity</option>
                                    </select>
                                    <!--/Dropdown primary-->
                                            
                                  </div>
                               </div>
                            </div>
                            <!--Grid column-->
                         </div>

                         <app-options></app-options>

                         <!--Grid row-->
                         <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                               <div class="md-form">
                                  <textarea mdbActive  type="text" id="form-contact-message"
                                  name="comments" 
                                  [(ngModel)]="newPoll.comments" class="md-textarea"></textarea>
                                  <label for="form-contact-message">Comments:</label>
                               </div>
                            </div>
                            <!--Grid column-->
                         </div>
                         <!--Grid row-->
                          <!--Grid row-->
                          <div class="row">
                                <!--Grid column-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <button type="submit" class="btn btn-primary btn-lg waves-light" role="button" mdbRippleRadius>Submit</button>
                                    </div>
                                </div>
                                <!--Grid column-->
                          </div>
                            <!--Grid row-->
                      </form>
                   </div>
                </div>
             </div>
          </div>
          <!--/Form with header-->
       </div>
       <!--Grid column-->
    </section>
    <!--Section: Contact v.3-->     
 </div>