<div class="col s12 m5">
    <h2 class="header">Dashboard</h2>
    <div class="card"  *ngFor="let poll of items | async" >
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"></h4>
            <!--Text-->
            <div class="card-content">
                <p>{{ poll | json }}</p>
              </div>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>
    
    </div>
</div>

<app-vote></app-vote>
